html {
    font-size: 16px; 
    font-weight: normal; 
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0; 
}

h1 {
    font-size: 2.75rem;
}

/*Desktop*/

.mobile-header, .mobile-information {
    display: none;
}

/*Header*/

header {
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(58, 56, 56);
    background-color: white;
    position: fixed;
    z-index: 10;
    padding: 1rem 1.5rem;
}

.child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.child span {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.child h2 {
    font-weight: bold;
    margin: 0;
}

.child h2 span {
    margin: 0;
    color: gray;
    font-weight: normal;
}

.child img {
    height: 2rem;
    width: auto;
}

/*Main*/

#main {
    position: relative;
    top: 4rem;
    padding-bottom: 5.35rem;
    border: 2px solid darkgray;
}

/*Banner*/

#banner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#banner img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem 2rem 1.5rem;
}

.banner-information {
    margin-right: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner-information h3 {
    padding: 0.5rem 0;
    background-color: rgb(58, 56, 56);
    color: white;
    text-align: center;
}

.banner-information h1, .banner-information h2 {
    text-align: justify;
    color: rgb(58, 56, 56);
}

/*Information + Thesis*/

#information, .thesis {
    display: flex;
}

#thesis h1 {
    text-align: center;
    padding: 2rem 0 0 0;
}

.thesis h1 {
    text-align: left !important;
}

#thesis {
    border-bottom: 1px solid lightgray;
}

#information .main, .thesis .main {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-top: 1px;
    color: rgb(58, 56, 56);
}

#thesis video {
    border: 1px solid darkgray;
}

#information .main h1, .thesis .main h1 {
    font-weight: bold;
    margin: 2rem 0 1.5rem 0;
}

#information .main h2, .thesis .main h2 {
    margin: 1.5rem 0 2rem 0; 
    color: rgb(118, 118, 118);
}

#information .main h3 {
    margin-top: 2rem 0 2rem 0;
    color: rgb(99, 99, 99);
}

#information .side, .thesis .side {
    width: 40%;
    display: flex;
    flex-direction: column;
    color:rgb(118, 118, 118);
}

#information .side {
    margin-top: 1px;
    border-left: 1px solid lightgray;
    padding: 1rem 0 2rem 0;
}

.thesis .side {
    padding: 2rem 0 1rem 1rem;
}

#information .side1, .thesis .side1 {
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1rem;
    margin-bottom: 1px;
}

#information .side1 {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

#information .side1:first-child {
    border-top: none;
}

.thesis .side1:first-child {
    background-color: lightgray;
}

#information .side1:last-child {
    margin-top: -1px;
    background-color: lightgray;
}

#information .side1 .desktop-information, .thesis .side1 img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}

.desktop-information img {
    width: 100%;
    height: auto;
}

#information .side1 .side2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#information .side1 .side2 h2, .thesis .side1 .side2 h2 {
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    color: rgb(58, 56, 56);
}

#information .side1 .side2 h3, .thesis .side1 .side2 h2 {
    margin: 0.5rem 0;
}

#information .side1 .side2 a  {
    color: blue;
}

/*Learn*/

#learn {
    background-color: lightgray;
}

#learn h1 {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    color: rgb(58, 56, 56);
}

.learn {
    padding: 0 4.5rem 0 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.area {
    margin: 0 0 2rem 0;
    width: 30.75%;
    background-color: white;
}

.area img {
    height: auto;
    width: 100%;
}

.area h2 {
    margin: 1rem 1rem 1.5rem 1rem;
}

.area h3 {
    color: rgb(118, 118, 118);
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.area h3:last-child {
    margin-bottom: 1.5rem;
}

/*Footer*/

footer {
    position: relative;
    bottom: 0;
    color: rgb(118, 118, 118);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 3rem 1.5rem;
}

span:first-child {
    margin-right: 1rem;
}

h4 {
    margin: 0;
}

/*Mobile*/

@media only screen and (max-width: 800px) {
    .child, #information .main, .thesis .side, .thesis h1, .thesis h2, .desktop-information, .learn img, .learn h3, footer span {
        display: none;
    }

    body {
        display: block;
    }
    
    .child {
        display: none;
    }
    
    .mobile-header {
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        height: 4rem;
        box-sizing: border-box;
        align-items: center;
        background-color: white;
        position: fixed;
        z-index: 10;
        padding: 1rem;
        right: 0;
    }

    .mobile-header img {
        height: 2rem;
        width: auto;
    }

    #main {
        padding-bottom: 4.5rem;
    }

    /*Banner*/

    #banner {
        background-color: lightgray;
        display: block;
    }
    
    #banner img {
        width: 100%;
        height: auto;
        margin: 0 0 2rem 0;
    }
     
    .banner-information {
        padding: 0 1rem 2rem 1rem;
        display: block;
        margin: 0;
    }
    
    .banner-information h3 {
        padding: 0;
        background-color: rgb(114, 114, 114);
        color: white;
        text-align: center;
    }
    
    .banner-information h1, .banner-information h2 {
        text-align: justify;
        color: rgb(58, 56, 56);
    }

    .banner-information h1 {
        margin: 0 0 2rem 0;
    }

    .banner-information h2 {
        margin: 0 0 1.5rem 0;
    }

    .banner-information h3 {
        margin: 0;
        padding: 1rem 0;
    }

    /*Learn + Thesis*/

    #information .side, .thesis .main {
        width: 100%;
        display: block;
        color:rgb(118, 118, 118);
    }
    
    #thesis {
        border: none;
    }

    #thesis h1 {
        padding: 0;
        margin: 2rem 0 1rem 0;
    }

    .thesis .main {
        padding: 0;
    }

    .thesis .main video {
        width: 100%;
        height: auto;
    }

    #information .side {
        margin: 0;
        border: none;
        padding: 1rem 1rem 0 1rem;
    }

    #information .side1 {
        display: block;
        padding: 0 0 4rem 0;
        margin: 0;
    }

    #information .side1:last-child {
        background-color: white;
        padding-bottom: 2rem;
    }

    .thesis .side1:first-child {
        background-color: lightgray;
    }

    #information .side1 .mobile-information, .thesis .side1 img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    .mobile-information img {
        width: 100%;
        height: auto;
    }

    #information .side1 .side2 {
        display: block;
        width: 100%;
    }
    
    #information .side1 .side2 h2, .thesis .side1 .side2 h2 {
        font-weight: bold;
        margin: 2rem 1rem 0.5rem 1rem;
        color: rgb(58, 56, 56);
    }
    
    #information .side1 .side2 h3, .thesis .side1 .side2 h2 {
        margin: 0.5rem 1rem;
    }
    
    #information .side1 .side2 a  {
        margin: 0 1rem;
        color: blue;
    }

    /*Learn*/

    #learn, .learn {
        display: block;
    }

    #learn {
        background-color: white;
    }

    #learn h1 {
        padding: 2rem 0 0 0;
    }

    #learn h2 {
        background-color: lightgray;
        text-align: center;
        padding: 1rem 1rem 1.5rem 1rem;
        margin: 0 0 0.5rem 0;
    }

    .learn {
        padding: 1rem 1rem 1.5rem 1rem;
        border-bottom: 1px solid lightgray;
    }

    .area {
        width: 100%;
        margin: 0;
    }

    /*Footer*/

    footer {
        padding: 2.5rem 1rem 1rem 1rem;
        bottom: 1rem;
    }
}