html {
    font-size: 16px; 
    font-weight: normal; 
    font-family: 'Open Sans', sans-serif;
}

body {
    border: 1px solid darkgray; 
}

h1 {
    font-size: 2.75rem;
}

/*Header*/

header {
    height: 4rem;
    margin: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(58, 56, 56);
}

.child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.child span {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.child span:last-child {
    margin-right: 0;
}

.child h2 {
    font-weight: bold;
}

.child h2 span {
    margin: 0;
    color: gray;
    font-weight: normal;
}

.child img {
    height: 2rem;
    width: auto;
}

/*Main*/

/*Banner*/

#banner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#banner img {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

.banner-information {
    margin-right: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner-information h3 {
    padding: 0.5rem 0;
    background-color: rgb(58, 56, 56);
    color: white;
    text-align: center;
}

.banner-information h1, .banner-information h2 {
    text-align: justify;
    color: rgb(58, 56, 56);
}

/*Information + Thesis*/

#information, .thesis {
    display: flex;
}

#thesis h1 {
    text-align: center;
    padding: 2rem 0 0 0;
}

.thesis h1 {
    text-align: left !important;
}

#thesis {
    border-bottom: 1px solid lightgray;
}

#information .main, .thesis .main {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-top: 1px;
    color: rgb(58, 56, 56);
}

#thesis video {
    border: 1px solid darkgray;
}

#information .main h1, .thesis .main h1 {
    font-weight: bold;
    margin: 2rem 0 1.5rem 0;
}

#information .main h2, .thesis .main h2 {
    margin: 1.5rem 0 2rem 0; 
    color: rgb(118, 118, 118);
}

#information .main h3 {
    margin-top: 2rem 0 2rem 0;
    color: rgb(99, 99, 99);
}

#information .side, .thesis .side {
    width: 40%;
    display: flex;
    flex-direction: column;
    color:rgb(118, 118, 118);
}

#information .side {
    margin-top: 1px;
    border-left: 1px solid lightgray;
    padding: 1rem 1.5rem 2rem 0;
}

.thesis .side {
    padding: 2rem 0 1rem 1rem;
}

#information .side1, .thesis .side1 {
    display: inline-flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 1px;
}

#information .side1 {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

#information .side1:first-child {
    border-top: none;
}

.thesis .side1:first-child {
    background-color: lightgray;
}

#information .side1:last-child {
    margin-top: -1px;
    background-color: lightgray;
}

#information .side1 img, .thesis .side1 img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}

#information .side1 .side2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#information .side1 .side2 h2, .thesis .side1 .side2 h2 {
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    color: rgb(58, 56, 56);
}

#information .side1 .side2 h3, .thesis .side1 .side2 h2 {
    margin: 0.5rem 0;
}

#information .side1 .side2 a  {
    color: blue;
}

/*Learn*/

#learn {
    background-color: lightgray;
}

#learn h1 {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    color: rgb(58, 56, 56);
}

.learn {
    padding: 0 4.5rem 0 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.area {
    margin: 0 0 2rem 0;
    width: 30.75%;
    background-color: white;
}

.area img {
    height: auto;
    width: 100%;
}

.area h2 {
    margin: 1rem 1rem 1.5rem 1rem;
}

.area h3 {
    color: rgb(118, 118, 118);
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.area h3:last-child {
    margin-bottom: 1.5rem;
}

/*Footer*/

footer {
    color: rgb(118, 118, 118);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 3rem 1.5rem;
}

span:first-child {
    margin-right: 1rem;
}

h4 {
    margin: 0;
}